html {
  /* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
  letter-spacing: 0.3px;
  line-height: 25px;
  font-family: 'Share Tech', serif;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FADC55;
}

#navigation > ul{
  margin-left: -2%;
  list-style-type:none;
  display:flex;
  justify-content:space-evenly;
}

#navigation > ul > li > a {
  color:black;
  transition:font-size 0.15s;
}

#navigation > ul > li > a:link {
  text-decoration:none;
}

#navigation > ul > li > a:hover {
  text-decoration:underline;
  font-size: 120%;
}

body {
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
}

#cat_list{
  list-style-type:none;
  margin-right:2.5%;
}

#content_blocks{
  display:flex;
  justify-content:space-evenly;
}

#content_blocks > div{
  width: 30%;
  padding: 2% 5%;
}

sup > a{
  font-size: 10px;
  text-decoration: none;
  color: blue;
}

#hypothetical{
  margin: 0 auto;
}

#sources {
  display: flex;
  flex-direction: column;
}

#sources > div {
  margin: 10px 0;
}

#sources > div > p {
  margin: 0px;
}

footer {
  /*position:absolute;
  bottom:0;
  left:0;*/
  margin-top: auto;
  width:96.5%;
}

footer > ul {
  list-style-type:none;
  display:flex;
  justify-content:space-between;
}

@media (max-width: 900px) {
  #navigation > ul > li > a {
    font-size: 70%;
  }

  #navigation > ul > li > a:hover {
    font-size: 90%;
  }
}